
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Trabajo desde el desarrollo, pruebas y puesta en producción con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.Net Core, Sql Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web Apis</li>
                <li>ASP .NET Core MVC</li>
                <li>Laravel</li>
                <li>Javascript</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Puedo crear front-ends robustos, los cuales cumplen con los requerimientos del negocio
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ReactJs, Angular, VueJs
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Jquery</li>
                <li>Vuetify</li>
            </ul>
        </div>
    </div>

</div>

