
<div class="text-center">
    <h1 class="display-4">Soy @Model.Persona.Nombre.ToUpper() @Model.Persona.Apellido.ToUpper() y tengo @Model.Persona.Edad años.</h1>
    <h2> Soy un desarrollador full stack especializado en tecnologias .NET, PHP Y Javascript </h2>

    <img src="~/imagenes/helmuth.jpg" id="foto" />


</div>

<div class="text-center">
    <h1 style="font-size: 60px; margin-bottom: 0; color: darkslateblue;">.NET</h1>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde el 2016. He tenido el privilegio de trabajar y realizar
            proyectos para empresas como Drogueria Nena, NHD Salud y bienestar, Produplay y Milton Morris & Partners. Todo esto
            trabajando principalmente aplicaciones de Php/Laravel, c#/Asp.Net, Mysql, Sql Server, Javascript/Angular/ReactJs/VueJs
        </p>
    </div>

</div>

