@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1 class="display-4">Soy @ViewBag.Nombre @ViewBag.Apellido</h1>